@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
#mainHeader {
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.9s ease;
  z-index: 1000; /* Ensure the header is on top of other content */
}
.title{
  font-family: "Inter", sans-serif;
}

.brandname{
  font-family: "Kanit", sans-serif;
  font-weight: 800;
}
.text-warning{
  font-weight: 650;
}
header button i:active{
  border: none;
}
header .navbar a{
  text-decoration: none;
  top: 0;
  display: flex;
  
}
header .collapse ul li a{
  color: white;
  margin: 10px;
}
header .collapse ul li a:hover{
  color: aqua;
}
header .collapse ul li  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #003366;
  overflow: hidden;
  width: 400px;
}

ul li {
  float: left;
  position: relative;
  margin: none;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

ul li a:hover {
  
}

/* Dropdown menu styling */
ul li ul {
  display: none;
  position: absolute;
  background-color: #003366;
  min-width: 300px;
  z-index: 1;
}

ul li ul li {
  float: none;
}

ul li ul li a:hover {
  background-color: #575757;
}

/* Show dropdown menu on hover */
ul li:hover ul {
  display: block;
}



header .i4user{
  margin-top: 40px;
}
header .i4user a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: flex;
}
header .i4user .offcanvas .input-group{
  height: 70px;
  border: none;
  border-bottom: 2px solid white;
}
header .i4user .offcanvas .input-group .input-group-text{
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: black;
  font-size: 2rem;
  
}
header .i4user .offcanvas .input-group .form-control{
  border: none;

  background-color: black;
  font-size: 2rem;
}


header .i4user p{
  margin-left: 5px;
}
.grp-btn .brand-icon{
  width: 50px;
  height: 30px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}

.footer .col-lg-4 h5{
  font-size: 20px;
}
.footer .col-lg-4 a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.footer .col-lg-4 a:hover{
  color: yellow;
}
.footer .col-lg-4 button{
  background-color: dodgerblue;
  width: 170px;
  height: 35px;
  border-radius: 15px;
  margin-top: 7px;
  border: none;
  font-size: 13px;
  text-align: start;
  padding: 5px;
}
.footer .col-lg-6 a{
  text-decoration: none;
}
.link{
  margin-top: 6%;
}

@media screen and (max-width: 992px){
  .link{
    margin-top: 10%;
  }
  
}